{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
 Communities
{% endblock %}

{% block postHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/home.html"
    },
    {
      text: "Communities",
      classes: "govuk-!-font-weight-bold"
    }
  ]
}) }}

  <div class="hero-se">Communities</div>
{% endblock %}

{% block content %}
<div class="se">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <p>The south of Scotland is full of vibrant communities with a rich history and culture. Our approach is to sustain and grow our communities so that our residents, businesses and visitors thrive in the places where they live, work and visit.</p> 
          <p>Building on the work of the <a href="https://www.sosep.co.uk/" target="_blank" rel="noopener">South of Scotland Economic Partnership (SoSEP)</a> we want to continue to empower our communities to help them meet their needs and become resilient through capacity building, asset ownership and the development of social enterprise.</p>
          <p>We will work with our social enterprises and communities to understand the contribution they make to the economy and wellbeing of the region and develop the appropriate products and services that will enable them to take forward and realise their aspirations.</p> 

          {% from "button/macro.njk" import govukButton %}

          {{ govukButton({
            text: "Contact us to discuss your idea",
            classes: "button-se",
            href: "/contact-us.html"
          }) }}
           <h2>Partner organisations</h2>
          <p>We will work with our partner organisations (as they are funded by Scottish Government) to ensure clients receive the right level of support that meets their individual needs.</p>
          <h3>Just Enterprise</h3>
          <p><a href="https://justenterprise.org/" target="_blank" rel="noopener">Just Enterprise</a> is a pan-Scotland comprehensive programme designed to help social enterprises and budding social entrepreneurs achieve their trading ambitions. Supported by the Scottish Government, Just Enterprise is committed to the growth and sustainability of Scotland's third sector and their start up, business support, business recovery, procurement, leadership and learning services are available to help you succeed.</p>
          <h3>Third Sector Interfaces (TSIs)</h3>
          <p>Third sector interfaces (TSIs) provide a single point of access for support and advice for the third sector within local areas. There is a TSI in each local authority area in Scotland. Each TSI receives Scottish Government funding to deliver on and towards an outcomes framework.</p>
          <br>
          <p>In <strong>Dumfries & Galloway </strong>the TSI is:  <a href="" target="_blank" rel="noopener">Third Sector, Dumfries and Galloway</a>.</p>
          <br>
          <p>In <strong>the Scottish Borders</strong> the TSI is the Borders Third Sector Partnership and comprises:</p>
          <ul class="govuk-list govuk-list--bullet se">
             <li><a href="" target="_blank" rel="noopener">Berwickshire Association for Voluntary Services (BAVS)</a></li>
             <li><a href="" target="_blank" rel="noopener">Scottish Borders Social Enterprise Chamber (SBSEC)</a></li>
             <li><a href="" target="_blank" rel="noopener">The Bridge, Volunteer Centre Borders (VCB)</a></li>
          </ul>
          <h2>Social Enterprise Census 2019: South of Scotland</h2>
          <p>A report presenting an analysis of the social enterprise sector in the South of Scotland, based on the data collected for the Social Enterprise Census 2019.</p>
          <br>
          <p><em>[Report will be added soon]</em></p>

    </div>
</div>
</div>
{% endblock %}

