{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
Confirmation screen
{% endblock %}

{% block postHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/home.html"
    },
    {
      text: "Confirmation of submission",
      classes: "govuk-!-font-weight-bold"
    }
  ]
}) }}

{% endblock %}

{% block content %}
<div class="se">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="govuk-panel govuk-panel--confirmation"  style="color: #3F2A56; 
    background-color: #3ac9d4;">
          <div class="govuk-panel__body">
            <span style="font-size:1.3em;"><strong>Thank you</strong></span>
              <br>
              <span style="font-size:1em;"><strong>Your enquiry has been submitted</strong></span>
            <br>
             <span style="font-size:0.6em;">
            Thank you for contacting us. We aim to respond to all enquiries within 2 business days.
            </span>
          </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
