{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
  Contact us
{% endblock %}

{% block postHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Contact us",
      classes: "govuk-!-font-weight-bold"
    }
  ]
}) }}

  <div class="hero-se herogrey">Contact us</div>

{% endblock %}


{% block content %}
<div class="se">
<p>We are still adding service information to the site. If you can’t find the help you need, tell us a bit about your situation. We will do our best to help you.</p> 
<p>Our lines are open from 8.30am to 5.30pm, Monday to Friday.</p>
<p>Alternatively, you can give us a call on: <strong style="font-size: 19px"><span style="white-space: nowrap;">0300 013 3385</span></strong></p>
<br><br>
</div>
{% from "select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "trading-type",
  name: "trading-type",
  label: {
    text: "Are you trading?"
  },
  items: [
    {
      value: "trading",
      text: "Yes",
      selected: true
    },
    {
      value: "not-trading",
      text: "No"
    }
  ]
}) }}
{% from "input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "First name"
  },
  classes: "govuk-input govuk-!-width-one-third",
  id: "first-name",
  name: "first-name"
}) }}
{{ govukInput({
  label: {
    text: "Last name"
  },
  classes: "govuk-input govuk-!-width-one-third",
  id: "last-name",
  name: "last-name"
}) }}

{{ govukInput({
  label: {
    text: "Email address"
  },
  id: "email",
  name: "email",
  type: "email",
  autocomplete: "email",
  classes: "govuk-input--width-20",
  attributes: {
    spellcheck: "false"
  }
}) }}

{{ govukInput({
  label: {
    text: "Phone number"
  },
  id: "telephone-number",
  name: "telephone-number",
  type: "tel",
  autocomplete: "tel",
  classes: "govuk-input govuk-!-width-one-third"
}) }}


{% if  data['trading-type'] === 'trading' %}

{{ govukInput({
  label: {
    text: "Business name and trading address"
  },
  classes: "govuk-input govuk-!-width-two-thirds",
  id: "companyname",
  name: "companyname",
  placeholder: "Start typing your company name, trading address or postcode"
}) }}

{% endif%}

{% if  data['trading-type'] === 'not-trading' %}

{{ govukInput({
  label: {
    text: "Address and postcode"
  },
  classes: "govuk-input govuk-!-width-two-thirds",
  id: "companyname",
  name: "companyname",
  placeholder:"Start typing your address or postcode"
}) }}
{% endif%}


{% from "textarea/macro.njk" import govukTextarea %}

{{ govukTextarea({
  name: "message",
  id: "message",
  rows: "8",
  label: {
    text: "Your message for us"
  }
}) }}

{% from "checkboxes/macro.njk" import govukCheckboxes %}

{{ govukCheckboxes({
  idPrefix: "acceptterms",
  name: "acceptterms",
  classes: "govuk-checkboxes--small",
  items: [
    {
      value: "accept",
      text: "I accept the terms of the privacy policy"
    }
  ]
}) }}

<div class="se">
  
    <p>You must review and accept the terms of the privacy policy to continue.</p>

    <p>By ticking the box and clicking submit you confirm that you have read and agreed to the terms of  <a rel="noopener" href="/privacy.html" target="_blank">our privacy policy.</a></p>
    
    <p>The personal details and information provided will be used to answer your enquiry and keep you updated on its progress.</p>
    
    <p>They will be stored on our system which is shared with other public sector bodies.</p>

</div>
{% from "button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Submit",
  classes: "govuk-!-margin-bottom-9 , govuk-!-margin-top-9 , button-se",
  href: "/not-ready.html"
}) }}


{% endblock %}




