{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
Our organisation
{% endblock %}

{% block postHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/home.html"
    },
    {
      text: "Who we are",
      href: "/who-we-are.html"
    },
    {
      text: "Our organisation",
      classes: "govuk-!-font-weight-bold"
    }
  ]
}) }}

  <div class="hero-se">Our organisation</div>
{% endblock %}

{% block content %}
<div class="se">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p>The South of Scotland Enterprise (SOSE) supports sustainable and inclusive growth across our region. In an area that is bursting with vibrant culture, great businesses, and diverse people, our role is to encourage and empower each of them. By uplifting our community, we will continue to make the South even stronger. </p>
            <p>Through our regional hubs in the Borders and Dumfries and Galloway, SOSE offers accessible business, social, and infrastructure activities to help everyone feel capable and supported, no matter what they offer.</p>
            <p>SOSE helps boost our region's capacity and the potential of people and resources by: </p>
            <ul class="govuk-list govuk-list--bullet se">
            <li>Playing an active role in supporting growth, bringing commerce and communities together, and streamlining their route to funding, markets, and success</li>
            <li>Showcasing this incredible part of Scotland to the world and highlighting the people and businesses that help drive it</li>
            <li>Supporting people and organisations that help the economy of the South of Scotland - no matter how big or small they are</li>
            <li>Building and protecting relationships with communities and businesses, while ensuring access to any specialist services or advice they need</li>
            <li>Being a key partner between existing agencies in economic development</li>
            <li>Acting as the voice of the South</li>
          </ul>
          
          <h2>What We Do</h2>
          <p>The South of Scotland Enterprise takes a fresh, collaborative approach to developing our region  to the benefit of everyone in our community. If it happens in the South, it matters to us. </p>
          <p>With a wealth of people, potential, and opportunity, SOSE champions the ideas that drive our region and the incredible advantages that help establish the South of Scotland as a powerful economic centre. We represent the South of Scotland at both a national level and international level, so that everyone can recognise the vast opportunities we offer and see the South as a top destination of choice.</p>
          
          <h3>Investment</h3>
          <p>Supporting our community is essential, and investment is a key aspect of driving growth. To complement the incredible advantages the South offers, SOSE is committed to:</p>
          <ul class="govuk-list govuk-list--bullet se">
            <li>Helping new and established businesses across the South expand their reach, improve networks, access new markets, and strengthen cross-selling opportunities</li>
            <li>Developing skills and talents to help benefit businesses, and making them even more attractive to national and international clients and consumers</li>
            <li>Supporting innovative ideas that build success and enhance our reputation</li>
            <li>Taking a fresh approach to economic development across the region. We have committed over £23.3m to supporting the South of Scotland Economic Partnership and invested £85 million through the Borderlands Inclusive Growth Deal to support strategic projects and activities</li>
          </ul>
    </div>
</div>
</div>
{% endblock %}

