{% extends "layout_se.html" %} <!-- to use a specific branded SE layout-->

{% block pageTitle %}
 Who we are
{% endblock %}

{% block postHeader %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/home.html"
    },
    {
      text: "Who we are",
      classes: "govuk-!-font-weight-bold"
    }
  ]
}) }}

  <div class="hero-se">Who we are</div>
{% endblock %}

{% block content %}
<div class="se">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <p>Every region has its own unique challenges, and its own unique opportunities. Nobody understands the South of Scotland more than the people who live and work here, and we recognise the diverse experiences that help shape our community. </p>

            <p>South of Scotland Enterprise sees our region as more than just a place - it's somewhere we're proud to call it home. Our work happens collaboratively across sectors, with a focus on aligning our efforts, defining and delivering a clear strategy for economic development, and applying a fresh approach to everything we do.</p> 
            
            <p>Innovation begins with collaboration. By giving a voice to the challenges, needs, and potential in the South, the South of Scotland Enterprise builds on our strengths and boosts opportunities for everyone in our region.</p>
        
         
          <h2>Uplifting the South of Scotland </h2>
         <p>Beyond the stunning natural features and dynamic communities, the South of Scotland offers a wealth of opportunity to residents, businesses, and visitors. With significant land assets, energy resources, an extensive education sector, and a rich history, there are so many advantages to the South. Our work highlights each of these exceptional benefits, and we are tenacious in our support of this region.</p>
         <p><strong>Our vision</strong> is to establish the South of Scotland as a centre of opportunity, innovation, and growth.</p>
         <p>By working with the people and communities across the South of Scotland, we help inspire our region to think bigger, and unlock significant opportunities for everyone.</p>
  
    </div>
</div>
</div>
{% endblock %}

